<div class="pattern_component">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="#">Accueil</a></li>
      <li><a href="#">Femme</a></li>
      <li><a href="#">Hauts</a></li>
      <li><a href="">Tops</a></li>
      <li>Vanessa Pouzet : Back is back</li>
    </ul>

    <section class="infos_pattern">
      <article class="pattern_card four_images" id="0">
        <h1>
          {{pattern.pat_name}}
          <small>{{pattern.pat_creator}}</small>
        </h1>
        <figure>
          <img src="/assets/creators/vanessa-pouzet/0-vanessa-pouzet-back-is-back/medium/back-is-back-du-34-au-46-verso.jpg" alt="">
          <a href="#" class="arrow_left"><img src="/assets/icons/arrow_left.svg" alt="Image précédente"></a>
          <a href="#" class="arrow_right">
            <img src="/assets/icons/arrow_right.svg" alt="Image suivante">
          </a>
          <div class="minis">
            <img src="/assets/creators/vanessa-pouzet/0-vanessa-pouzet-back-is-back/small/back-is-back-du-34-au-46-recto.jpg" alt="">
            <img src="/assets/creators/vanessa-pouzet/0-vanessa-pouzet-back-is-back/small/back-is-back-du-34-au-46-verso.jpg" alt="">
            <img src="/assets/creators/vanessa-pouzet/0-vanessa-pouzet-back-is-back/small/back-is-back-du-34-au-46-recto.jpg" alt="">
          </div>
        </figure>
        <div class="infos_pattern">
          <h1>
            {{pattern.pat_name}}
            <small>{{pattern.pat_creator}}</small>
          </h1>
          <!-- <div class="pattern_title">Back is back</div>
          <a href="#" class="pattern_creator">Vanessa Pouzet</a> -->
          <div class="pattern_difficulty">Débutant</div>
          <div class="pattern_description">
            Deux découpes au choix pour sublimer le dos&nbsp;:&nbsp;soft ou sexy chocolat. La coupe près du corps et l'encolure ras de cou vous assurent une tenue parfaite.
          </div>
          <div class="pattern_links">
            <a class="pattern_source" href="https://eshop.vanessapouzet.com/fr/les-patrons/166-back-is-back-du-34-au-46-.html" title="Se rendre sur la page originale du patron (lien externe)" target="_blank">Vers la source</a>
            <div class="favorite_comments">
              <a class="pattern_favorite" href="#" title="Mettre ce patron en favori">12</a>
              <span class="pattern_comments">0</span>
            </div>
          </div>
        </div>
      </article>
      <div class="pattern_more">
        <div class="nb_images">{{pattern.pat_images.length}} images</div>
        <div class="tagsList"><span>2 étiquettes :</span>
          <ul class="tags">
            <li class="tag"><a href="#">Sans manche</a></li>
            <li class="tag"><a href="#">Décolleté dos</a></li>
            <li class="tag"><a href="#">Sans manche</a></li>
            <li class="tag"><a href="#">Décolleté dos</a></li>
            <li class="tag"><a href="#">Sans manche</a></li>
            <li class="tag"><a href="#">Décolleté dos</a></li>
          </ul>
        </div>
      </div>
      <!-- <ul>
          <li *ngFor="let pat_image as pattern.pat_images">{{pattern.pat_images}}</li>
      </ul> -->
    </section>

    <div class="fabric_pattern_bottom">
      <section class="creator_infos">
        <div class="h2 creator_name">
          <a class="fabric_favorite" href="#" alt='Ajouter le patron "Vanessa Pouzet - Back is back" dans vos favoris'></a>
          Vanessa Pouzet
        </div>
        <div class="creator_logo">
          <img src="/assets/creators/vanessa-pouzet/logo.png" alt='Logo de la marque de patron "Vanessa Pouzet"'>
        </div>
        <div class="brand_most_seen">
          <div class="title">Patrons les plus consultés</div>
          <article class="pattern_card one_image xs">
            <figure>
              <img src="/assets/creators/vanessa-pouzet/wanted/xs/tee-shirt-wanted.jpg" alt="">
            </figure>
            <div class="pattern_infos_wrapper">
              <div class="infos_pattern">
                <div class="pattern_title">Wanted</div>
                <ul class="pattern_breadcrumb">
                  <li><a href="#" title="Lister les patrons pour femme">Femme</a></li>
                  <li><a href="#" title="Lister les patrons de hauts pour femme">Hauts</a></li>
                  <li><a href="#" title="Lister les patrons de tops pour femme">Tops</a></li>
                </ul>
                <div class="pattern_links">
                  <div class="favorite_comments">
                    <a class="pattern_favorite" href="#" title="Mettre ce patron en favori">12</a>
                    <span class="pattern_comments">0</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <div class="title">Derniers patrons mis en ligne</div>

        </div>
      </section>
      <section class="suggestions">
        <div class="patterns_suggestions">
          <h3>Vous pourriez aimer également</h3>
          <div class="patterns_wrapper">
            <article class="pattern_card three_images">
              <figure>
                <img _ngcontent-alk-c19="" src="/assets/creators/ivanne-s/trop-top/medium/IMGP0380_retcourbe-248x223-1.jpg" alt="">
                <div _ngcontent-alk-c19="" class="minis">
                  <img _ngcontent-alk-c19="" src="/assets/creators/ivanne-s/trop-top/xs/IMGP1780_ret.jpg" alt="">
                  <img _ngcontent-alk-c19="" src="/assets/creators/ivanne-s/trop-top/xs/IMGP1627_ret-1.jpg" alt=""></div>
              </figure>
              <div class="infos_pattern">
                <div class="pattern_title">Trop top</div>
                <div class="pattern_creator">Ivanne S</div>
                <ul class="pattern_breadcrumb">
                  <li><a href="#" title="Lister les patrons pour femme">Femme</a></li>
                  <li><a href="#" title="Lister les patrons de hauts pour femme">Hauts</a></li>
                  <li><a href="#" title="Lister les patrons de tops pour femme">Tops</a></li>
                </ul>
                <div class="pattern_links">
                  <a class="pattern_source" href="https://eshop.vanessapouzet.com/fr/les-patrons/166-back-is-back-du-34-au-46-.html" title="Se rendre sur la page originale du patron (lien externe)" target="_blank">Vers la source</a>
                  <div class="favorite_comments">
                    <a class="pattern_favorite" href="#" title="Mettre ce patron en favori">12</a>
                    <span class="pattern_comments">0</span>
                  </div>
                </div>
              </div>


            </article>
          </div>
        </div>
        <div class="fabrics_suggestions">
          <h3>Suggestions de tissus appropriés</h3>
          <div class="fabrics_wrapper">
            <div class="fabric_card one_image">
              <figure>
                <img src="/assets/fabrics/dashwood-studio/tissu-coton-dashwood-studio-new-beginnings-stick-x-10cm.jpg" alt="">
              </figure>
                <div class="infos_fabric">
                  <div class="fabric_title">
                    Coton moucheté bleu clair
                  </div>
                  <div class="fabric_brand">
                    Marque du tissu
                  </div>
                  <a class="fabric_type" href="#" title='Consulter les tissus de type "coton"'>Coton</a>
                  <div class="fabric_links">
                    <a class="pattern_source" href="https://www.mapetitemercerie.com/fr/dashwood-studio/111975-tissu-coton-dashwood-studio-new-beginnings-stick-x-10cm.html" title="Se rendre sur la page originale du tissu (lien externe)" target="_blank">Vers la source</a>
                  </div>
                </div>
            </div>
            <div class="fabric_card one_image">
              <figure>
                <img src="/assets/fabrics/dashwood-studio/tissu-coton-dashwood-studio-new-beginnings-cygnes-ecru-x-10cm.jpg" alt='Photographie du tissu "Coton moucheté bleu clair"'>
              </figure>
                <div class="infos_fabric">
                  <div class="fabric_title">
                    Coton moucheté bleu clair
                  </div>
                  <div class="fabric_brand">
                    Marque du tissu
                  </div>
                  <a class="fabric_type" href="#" title='Consulter les tissus de type "coton"'>Coton</a>
                  <div class="fabric_links">
                    <a class="fabric_source" href="https://www.mapetitemercerie.com/fr/dashwood-studio/111975-tissu-coton-dashwood-studio-new-beginnings-stick-x-10cm.html" title="Se rendre sur la page originale du tissu (lien externe)" target="_blank">Vers la source</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
