// colors
$mainColor: #890620;
$secondaryColor: #B6465F;
$fontColor: #2C0703;
$secondaryFontColor: #5F4341;
$fontLightColor: #7D6066;
$lightBackgroundColor: rgba(235, 212, 203, 0.25);


// Fonts
$mainFont: 'Open Sans', 'Arial', sans-serif;
